<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Copycat Voice</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Sizykh Ivan">
    
    <!-- Site Icons -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <!-- All core CSS -->
    <link href="static/styles/bootstrap.css" rel="stylesheet">
    <link href="static/styles/font-awesome.css" rel="stylesheet">
    <link href="static/styles/all.css" rel="stylesheet">
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/responsive.css" rel="stylesheet">
    <link href="static/styles/colors.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>\
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        
        <header class="header header">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-inverse yamm" id="slide-nav">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <img src="static/images/kit6.png" style="align-self:baseline;">
                    <a class="navbar-brand" href="/">Copycat Voice</a>
                    <div class="collapse navbar-collapse" id="navbarTopMenu">
                        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                            <li><a class="nav-link" href="/">Домой</a></li>
                            <li><a class="nav-link" href="/principal">О нас</a></li>
                            <li class="nav-item dropdown has-submenu">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Подробнее</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                                    <li><a class="dropdown-item" href="#">Описание метода <span class="hidden-md-down hidden-sm-down hidden-xs-down"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/principal">Общий концепт</a></li>
                                            <li><a class="dropdown-item" href="https://arxiv.org/pdf/1806.04558.pdf">Оригинальная статья</a></li>
                                            <li><a class="dropdown-item" href="https://github.com/CorentinJ/Real-Time-Voice-Cloning">GitHub оригинального проекта</a></li>
                                            <li><a class="dropdown-item" href="/examples">Примеры работ</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="/api">API</a></li>
                                    <li><a class="dropdown-item" href="/app">Попробовать</a></li>
                                </ul>
                            </li>              
                            <li><a class="nav-link" href="/">Контакты</a></li>
                        </ul>
                        <div class="nav navbar-nav ml-auto hidden-md-down hidden-sm-down hidden-xs-down">
                            <div class="head-social">
                                <a href="#" title="Vkontakte"><i class="fa fa-vk"></i></a>              
                                <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
                            </div>

                            
                        </div>
                    </div>
                </nav>
            </div><!--/.container inside nav-->
        </header>


    <!-- Место для основной части -->
    


    <footer class="footer section">
        <div class="container"> 
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <a href="/" title=""><img src="static/images/kit6.png" class="footer-logo" alt=""></a>
                        <h4 class="widget-title">
                            О Copycat Voice
                        </h4>
                        <div class="about-widget">
                            <p>Проект по клонированию голоса</p>
                        </div><!-- end about-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
                <div class="col-md-8 mobmartop30">
                    <div class="widget">
                        <div class="footer-links">
                            <nav class="foot-link">
                                <ul>
                                    <li><a href="#">Домой</a></li>
                                    <li><a href="#">Подробнее</a></li>
                                    <li><a href="#">Связаться</a></li>
                                </ul>
                            </nav><!-- end foot -->
                        </div><!-- end links -->

                        <div class="widget">
                            <div class="contact-widget">
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <h4 class="widget-title">
                                            <i class="fa fa-phone"></i> Телефон
                                        </h4>  
                                        <p>+7 (906) 770 63 33</p>
                                    </div><!-- end col -->

                                    <div class="col-md-4">
                                        <h4 class="widget-title">
                                            <i class="fa fa-envelope-open-o"></i>  Email
                                        </h4>  
                                        <p>iasizykh@miem.hse.com</p>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end contact-widget -->
                        </div><!-- end widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer-social">
                        <div itemscope="" itemtype="http://schema.org/Organization">
                            <a class="social-icon" target="_blank" itemprop="sameAs" href="https://vk.com/id66479168/"><i class="fa fa-vk"></i></a>
                            <a class="social-icon" target="_blank" itemprop="sameAs" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="social-icon" target="_blank" itemprop="sameAs" href="https://github.com/CorentinJ/Real-Time-Voice-Cloning"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                    <div class="footer-copy">
                        <p>© 2021 All Rights Reserved <a href="#">Copycat Voice</a> - Сизых Иван</p>
                    </div><!-- end copy -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->
</div><!-- end wrapper -->

<div class="dmtop"><i class="fa fa-long-arrow-up"></i></div>

<!-- Core JavaScript
================================================== -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/all.js"></script>
<script src="static/js/custom.js"></script>

</body>