<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Copycat Voice</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Sizykh Ivan">
    
    <!-- Site Icons -->
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
        <!-- All core CSS -->
    <link href="static/styles/bootstrap.css" rel="stylesheet">
    <link href="static/styles/font-awesome.css" rel="stylesheet">
    <link href="static/styles/all.css" rel="stylesheet">
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/responsive.css" rel="stylesheet">
    <link href="static/styles/colors.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>\
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script id="code">
function init() {
    if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this

    var $ = go.GraphObject.make;  // for conciseness in defining templates

    myDiagram = $(go.Diagram, "myDiagramDiv",  // create a Diagram for the DIV HTML element
    {
        "undoManager.isEnabled": true  // enable undo & redo
    });

    // define a simple Node template
    myDiagram.nodeTemplate =
    $(go.Node, "Auto",  // the Shape will go around the TextBlock
        $(go.Shape, "RoundedRectangle", { strokeWidth: 0, fill: "white" },
        // Shape.fill is bound to Node.data.color
        new go.Binding("fill", "color")),
        $(go.TextBlock,
        { margin: 8, font: "bold 14px sans-serif", stroke: '#333' }, // Specify a margin to add some room around the text
        // TextBlock.text is bound to Node.data.key
        new go.Binding("text", "key"))
    );

    // but use the default Link template, by not setting Diagram.linkTemplate

    // create the model data that will be represented by Nodes and Links
    myDiagram.model = new go.GraphLinksModel(
    [
        { key: "Ввод текста", color: "lightblue" },
        { key: "Выбор существующего референса", color: "lightblue"},
        { key: "Загрузка реферса", color: "lightblue"},
        { key: "Преобразование аудио транскрипцию", color: "orange" },
        { key: "Распознование фонем", color: "orange" },
        { key: "Преобразование звука в спектограмму", color: "orange" },
        { key: "Параметрическое пространство референсов", color: "red" },
        { key: "Векторизация изображения", color: "red" },
        { key: "Добавление в пространство", color: "red" },
        { key: "Синтез спектограммы", color: "orange" },
        { key: "Преобразование спектограммы в аудиодоржку", color: "orange" },
        { key: "Скачать файл", color: "pink" },
        { key: "Прослушать файл", color: "pink" }
    ],
    [
        { from: "Ввод текста", to: "Преобразование аудио транскрипцию" },
        { from: "Выбор существующего референса", to: "Параметрическое пространство референсов" },
        { from: "Загрузка реферса", to: "Распознование фонем" },
        { from: "Загрузка реферса", to: "Преобразование звука в спектограмму" },
        { from: "Преобразование аудио транскрипцию", to: "Параметрическое пространство референсов" },
        { from: "Добавление в пространство", to: "Параметрическое пространство референсов" },
        { from: "Распознование фонем", to: "Векторизация изображения" },
        { from: "Преобразование звука в спектограмму", to: "Векторизация изображения" },
        { from: "Параметрическое пространство референсов", to: "Синтез спектограммы" },
        { from: "Векторизация изображения", to: "Добавление в пространство" },
        { from: "Синтез спектограммы", to: "Преобразование спектограммы в аудиодоржку" },
        { from: "Преобразование спектограммы в аудиодоржку", to: "Скачать файл" },
        { from: "Преобразование спектограммы в аудиодоржку", to: "Прослушать файл" }
    ]);
}
</script>
<body onload="init()">

    <div id="wrapper">
        
        <header class="header header">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-inverse yamm" id="slide-nav">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <img src="static/images/kit6.png" style="align-self:baseline;">
                    <a class="navbar-brand" href="/">Copycat Voice</a>
                    <div class="collapse navbar-collapse" id="navbarTopMenu">
                        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                            <li><a class="nav-link" href="/">Домой</a></li>
                            <li><a class="nav-link" href="/principal">О нас</a></li>
                            <li class="nav-item dropdown has-submenu">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Подробнее</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                                    <li><a class="dropdown-item" href="#">Описание метода <span class="hidden-md-down hidden-sm-down hidden-xs-down"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/principal">Общий концепт</a></li>
                                            <li><a class="dropdown-item" href="https://arxiv.org/pdf/1806.04558.pdf">Оригинальная статья</a></li>
                                            <li><a class="dropdown-item" href="https://github.com/CorentinJ/Real-Time-Voice-Cloning">GitHub оригинального проекта</a></li>
                                            <li><a class="dropdown-item" href="/examples">Примеры работ</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="/api">API</a></li>
                                    <li><a class="dropdown-item" href="/app">Попробовать</a></li>
                                </ul>
                            </li>                   
                            <li><a class="nav-link" href="/">Контакты</a></li>
                        </ul>
                        <div class="nav navbar-nav ml-auto hidden-md-down hidden-sm-down hidden-xs-down">
                            <div class="head-social">
                                <a href="#" title="Vkontakte"><i class="fa fa-vk"></i></a>              
                                <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
                            </div>

                            
                        </div>
                    </div>
                </nav>
            </div><!--/.container inside nav-->
        </header>


    <!-- Место для основной части -->

    <!-- <div class="mxgraph" style="max-width:100%;border:1px solid transparent; align-self: flex-end; align-items: center;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;nav&quot;:true,&quot;resize&quot;:true,&quot;toolbar&quot;:&quot;zoom layers lightbox&quot;,&quot;edit&quot;:&quot;_blank&quot;,&quot;url&quot;:&quot;https://drive.google.com/uc?id=1JF1wtTvoRaEObFejNyWZQDneVo2kH6Ap&amp;export=download&quot;}"></div>

    <script type="text/javascript" src="https://viewer.diagrams.net/embed2.js?&fetch=https%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1JF1wtTvoRaEObFejNyWZQDneVo2kH6Ap%26export%3Ddownload"></script> -->

    <div class="container">
        <h1>Принцип работы</h1>
    </div>
    
    <div class="container">
        <h2>Dataflow</h2>
        <div id="myDiagramDiv" style="border: solid 1px black; max-width:960px; height:400px; overflow-x:hidden; display: flex"></div>
    </div>
    <div class="container">
        <h2>Описание алгоритма</h2>
            <p style="text-align: justify;">Наша модель будет состоять из четырёх нейронных сетей. Первая будет преобразовывать текст в фонемы (g2p), вторая — преобразовывать речь, которую мы хотим клонировать, в вектор признаков (чисел). Третья — будет на основе выходов первых двух синтезировать Mel спектрограммы. И, наконец, четвертая будет из спектрограмм получать звук.</p>
        <h2>Обработка текста</h2>
        <div class="section-title cpurple text-left">
            <p style="text-align: justify;">
                Первой задачей будет обработка текста. Представим текст в том виде, в котором он будет в дальнейшем озвучен. Числа представим прописью, а сокращения раскроем. Подробнее можно почитать в статье посвященной синтезу. Это тяжелая задача, поэтому предположим, что к нам поступает уже обработанный текст (в базах выше он обработан).
                Следующим вопросом, которым следуют задаться, это использовать ли графемную, или фонемную запись. Для одноголосного и одноязычного голоса подойдет и буквенная модель. Если хотите работать с многоголосой многоязычной моделью, то советую использовать транскрипцию.
            </p>
        </div>
        <h2>Кодирование спикеров</h2>
        <p style="text-align: justify;">
            Сеть схожа с задачей идентификации пользователя по голосу. На выходе у разных пользователей получаются разные вектора с числами. Предлагаю использовать реализацию самого CorentinJ, которая основана на статье. Модель представляет собой трехслойный LSTM с 768 узлами, за которыми следует полносвязный слой из 256 нейронов, дающие вектор из 256 чисел.
            Опыт показал, что сеть, обученная на английской речи, хорошо справляется и с русской. Это сильно упрощает жизнь, так как для обучения требуется очень много данных. Рекомендую взять уже обученную модель и дообучить на английской речи из VoxCeleb и LibriSpeech, а также всей русской речи, что найдёте. Для кодера не нужна текстовая аннотация фрагментов речи.           
        </p>
        <h2>Синтез</h2>
        <p style="text-align: justify;">
            Перейдём к синтезу. Известные мне модели не получают звук напрямую из текста, так как, это сложно (слишком много данных). Сначала из текста получается звук в спектральной форме, а уже потом четвертая сеть будет переводить в привычный голос. Поэтому сначала поймём, как спектральное вид связанна с голосом. Проще разобраться в обратной задаче, как из звука получить спектрограмму.
        </p>
        <p style="text-align: justify;">
            Звук разбивается на отрезки длинной 25 мс с шагом 10 мс (по умолчанию в большинстве моделей). Далее с помощью преобразования Фурье для каждого кусочка вычисляется спектр (гармонические колебания, сумма которых даёт исходный сигнал) и представляется в виде графика, где вертикальная полоса — это спектр одного отрезка (по частоте), а по горизонтальной — последовательность отрезков (по времени). Этот график называется спектрограммой. Если же частоту закодировать нелинейно (нижние частоты качественнее, чем верхние), то изменится масштаб по вертикали (нужно для уменьшения данных) то такой график называют Mel спектрограммой. Так устроен человеческий слух, что небольшое отклонение на нижних частотах мы слышим лучше, чем на верхних, поэтому качество звука не пострадает.
        </p>
        <h2>Вокодер</h2>
        <p style="text-align: justify;">
            Теперь осталось только преобразовать спектрограммы в звук. Для этого служит последняя сеть — вокодер. Возникает вопрос, если спектрограммы получаются из звука с помощью преобразования Фурье, нельзя ли с помощью обратного преобразования получить снова звук? Ответ и да, и нет. Гармонические колебания, из которых состоит исходный сигнал, содержат как амплитуду, так и фазу, а наши спектрограммы содержат информацию только об амплитуде (ради сокращения параметров и работаем со спекрограммами), поэтому если мы сделаем обратное преобразование Фурье, то получим плохой звук.            
        </p>
        <p style="text-align: justify;">
            Для решения этой проблемы придумали быстрый алгоритм Гриффина-Лима. Он делает обратное преобразование Фурье спектрограммы, получая "плохой" звук. Далее делает прямое преобразования этого звука и получают спектр, в котором уже содержится немножко информации о фазе, причём амплитуда в процессе не меняется. Далее берётся еще раз обратное преобразование и получается уже более чистый звук. К сожалению, качество сгенерированной таким алгоритмом речи оставляет желать лучшего.
        </p>
        <p style="text-align: justify;">
            На его смену пришли нейронные вокодеры, такие как WaveNet, WaveRNN, WaveGlow и другие. CorentinJ использовал модель WaveRNN за авторством fatchord.
        </p>
    </div>
    <footer class="footer section">
        <div class="container"> 
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <a href="/" title=""><img src="static/images/kit6.png" class="footer-logo" alt=""></a>
                        <h4 class="widget-title">
                            О Copycat Voice
                        </h4>
                        <div class="about-widget">
                            <p>Проект по клонированию голоса</p>
                        </div><!-- end about-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
                <div class="col-md-8 mobmartop30">
                    <div class="widget">
                        <div class="footer-links">
                            <nav class="foot-link">
                                <ul>
                                    <li><a href="#">Домой</a></li>
                                    <li><a href="#">Подробнее</a></li>
                                    <li><a href="#">Связаться</a></li>
                                </ul>
                            </nav><!-- end foot -->
                        </div><!-- end links -->

                        <div class="widget">
                            <div class="contact-widget">
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <h4 class="widget-title">
                                            <i class="fa fa-phone"></i> Телефон
                                        </h4>  
                                        <p>+7 (906) 770 63 33</p>
                                    </div><!-- end col -->

                                    <div class="col-md-4">
                                        <h4 class="widget-title">
                                            <i class="fa fa-envelope-open-o"></i>  Email
                                        </h4>  
                                        <p>iasizykh@miem.hse.com</p>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end contact-widget -->
                        </div><!-- end widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer-social">
                        <div itemscope="" itemtype="http://schema.org/Organization">
                            <a class="social-icon" target="_blank" itemprop="sameAs" href="https://vk.com/id66479168/"><i class="fa fa-vk"></i></a>
                            <a class="social-icon" target="_blank" itemprop="sameAs" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="social-icon" target="_blank" itemprop="sameAs" href="https://github.com/CorentinJ/Real-Time-Voice-Cloning"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                    <div class="footer-copy">
                        <p>© 2020 All Rights Reserved <a href="#">Copycat Voice</a> - Сизых Иван</p>
                    </div><!-- end copy -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->
</div><!-- end wrapper -->

<div class="dmtop"><i class="fa fa-long-arrow-up"></i></div>

<!-- Core JavaScript
================================================== -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/all.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/go.js"></script>
<script src="/static/assets/js/goSamples.js"></script>  <!-- this is only for the GoJS Samples framework -->

</body>